
{% extends 'base.html' %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content%}

<h1>New Expense</h1>

<div class="container">

<form method="post">
    {% csrf_token %}
    {{ form.errors }}


    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}

    {{ id }}

    {% for field in form.visible_fields %}

    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">{{ field.label_tag }}</div>
        </div>
        {{ field }}
    </div>

    {% endfor %}


    <h2>Expense Details</h2>
    <div class="row">
        <div class="col-5">
            Product
        </div>
        <div class="col-3">
            Qty
        </div>
        <div class="col-4">
            Amount
        </div>
    </div>
    {{ formset.management_form }}
    {% for f_formset in formset %}
    {{ f_form.errors }}

    {{ f_formset.id }}
    <div class="form-row mt-2 align-items-center">
        <div class="col-5">
            {{ f_formset.product }}
        </div>
        <div class="col-3">
            {{ f_formset.qty }}
        </div>
        <div class="col-4">
            {{ f_formset.amount }}
        </div>
    </div>
    {% endfor %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
            <a href="{% url 'expenses-index' %}" class="btn btn-dark btn-lg btn-block">Cancel</a>
        </div>
    </div>
</form>


</div>
{% endblock %}