
{% extends 'base.html' %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content%}


    <h1>New Expense</h1>


<div class="container">
<!--    <form method="post">-->
<!--      <div class="form-group">-->
<!--        &lt;!&ndash;        <label for="exampleFormControlInput1">Email address</label>&ndash;&gt;-->
<!--        <input type="text" class="form-control" id="name" placeholder="Name">-->
<!--      </div>-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" id="location" placeholder="Location">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" id="date" placeholder="MM/DD/YYYY">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="text" class="form-control" id="products_expense" placeholder="Products Expensed">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->



<form method="post">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}

    <h2>Expense Details</h2>
    <div class="row">
        <div class="col">
            Product
        </div>
        <div class="col">
            Qty
        </div>
        <div class="col">
            Amount
        </div>
        <div class="col">
            Comment
        </div>
    </div>
    {{ formset.management_form }}
    {% for f_form in formset %}
    {{ f_form.errors }}

    {{ f_form.id }}
    <div class="form-row mt-2">
        <div class="col my-auto">
            {{ f_form.product }}
        </div>
        <div class="col my-auto">
            {{ f_form.qty }}
        </div>
        <div class="col my-auto">
            {{ f_form.amount }}
        </div>
        <div class="col my-auto">
            {{ f_form.comment }}
        </div>
    </div>
    {% endfor %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
            <a href="{% url 'expenses-index' %}" class="btn btn-dark btn-lg btn-block">Cancel</a>
        </div>
    </div>
</form>


</div>
{% endblock %}