{% extends 'base.html' %}

{% block content %}
<h1>New Product</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {%  csrf_token %}
        {{ form.errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        <div class="form-row mt-2 align-items-center">
            <div class="col-8 mt-2">
                {{ form.name }}
            </div>
            <div class="col-4 mt-2">
                {{ form.uom }}
            </div>
            <div class="col mt-2">
                {{ form.image }}
            </div>
        </div>

    <div class="row mt-5">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
            <a href="{% url 'products-index' %}" class="btn btn-dark btn-lg btn-block">Cancel</a>
        </div>
    </div>
    </form>
</div>

{% endblock %}